---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/samtgarson/github-deploy-bot/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"**Deployed to:**\nhttp://google.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Z2l0aHViLWRlcGxveS1ib3Q6enJhYXp5OTYyMQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1482152790'
      Etag:
      - '"1b6d197d6c26f7abc5ddaf47bca122f6"'
      Location:
      - https://api.github.com/repos/samtgarson/github-deploy-bot/issues/comments/267950803
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/samtgarson/github-deploy-bot/issues/comments/267950803","html_url":"https://github.com/samtgarson/github-deploy-bot/pull/1#issuecomment-267950803","issue_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/issues/1","id":267950803,"user":{"login":"github-deploy-bot","id":24650275,"avatar_url":"https://avatars.githubusercontent.com/u/24650275?v=3","gravatar_id":"","url":"https://api.github.com/users/github-deploy-bot","html_url":"https://github.com/github-deploy-bot","followers_url":"https://api.github.com/users/github-deploy-bot/followers","following_url":"https://api.github.com/users/github-deploy-bot/following{/other_user}","gists_url":"https://api.github.com/users/github-deploy-bot/gists{/gist_id}","starred_url":"https://api.github.com/users/github-deploy-bot/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/github-deploy-bot/subscriptions","organizations_url":"https://api.github.com/users/github-deploy-bot/orgs","repos_url":"https://api.github.com/users/github-deploy-bot/repos","events_url":"https://api.github.com/users/github-deploy-bot/events{/privacy}","received_events_url":"https://api.github.com/users/github-deploy-bot/received_events","type":"User","site_admin":false},"created_at":"2016-12-19T12:16:27Z","updated_at":"2016-12-19T12:16:27Z","body":"**Deployed
        to:**\nhttp://google.com"}'
  recorded_at: Mon, 19 Dec 2016 12:16:27 GMT
recorded_with: VCR 3.0.3
