---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/samtgarson/github-deploy-bot/pulls?state=open
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Z2l0aHViLWRlcGxveS1ib3Q6enJhYXp5OTYyMQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1482147666'
      Etag:
      - W/"65464ec0544c3361bced46b112850333"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/samtgarson/github-deploy-bot/pulls/1","id":98543057,"html_url":"https://github.com/samtgarson/github-deploy-bot/pull/1","diff_url":"https://github.com/samtgarson/github-deploy-bot/pull/1.diff","patch_url":"https://github.com/samtgarson/github-deploy-bot/pull/1.patch","issue_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/issues/1","number":1,"state":"open","locked":false,"title":"Setup
        interactor for posting a comment","user":{"login":"samtgarson","id":6242344,"avatar_url":"https://avatars.githubusercontent.com/u/6242344?v=3","gravatar_id":"","url":"https://api.github.com/users/samtgarson","html_url":"https://github.com/samtgarson","followers_url":"https://api.github.com/users/samtgarson/followers","following_url":"https://api.github.com/users/samtgarson/following{/other_user}","gists_url":"https://api.github.com/users/samtgarson/gists{/gist_id}","starred_url":"https://api.github.com/users/samtgarson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/samtgarson/subscriptions","organizations_url":"https://api.github.com/users/samtgarson/orgs","repos_url":"https://api.github.com/users/samtgarson/repos","events_url":"https://api.github.com/users/samtgarson/events{/privacy}","received_events_url":"https://api.github.com/users/samtgarson/received_events","type":"User","site_admin":false},"body":"","created_at":"2016-12-19T10:46:19Z","updated_at":"2016-12-19T10:53:07Z","closed_at":null,"merged_at":null,"merge_commit_sha":"e9ca1218fbbff00f6a50e76ce32f1a3c04973113","assignee":null,"assignees":[],"milestone":null,"commits_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/pulls/1/commits","review_comments_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/pulls/1/comments","review_comment_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/pulls/comments{/number}","comments_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/issues/1/comments","statuses_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/statuses/b2cb9a27d7b39290063af3ec5de0c58b291277ad","head":{"label":"samtgarson:github-pr","ref":"github-pr","sha":"b2cb9a27d7b39290063af3ec5de0c58b291277ad","user":{"login":"samtgarson","id":6242344,"avatar_url":"https://avatars.githubusercontent.com/u/6242344?v=3","gravatar_id":"","url":"https://api.github.com/users/samtgarson","html_url":"https://github.com/samtgarson","followers_url":"https://api.github.com/users/samtgarson/followers","following_url":"https://api.github.com/users/samtgarson/following{/other_user}","gists_url":"https://api.github.com/users/samtgarson/gists{/gist_id}","starred_url":"https://api.github.com/users/samtgarson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/samtgarson/subscriptions","organizations_url":"https://api.github.com/users/samtgarson/orgs","repos_url":"https://api.github.com/users/samtgarson/repos","events_url":"https://api.github.com/users/samtgarson/events{/privacy}","received_events_url":"https://api.github.com/users/samtgarson/received_events","type":"User","site_admin":false},"repo":{"id":76852531,"name":"github-deploy-bot","full_name":"samtgarson/github-deploy-bot","owner":{"login":"samtgarson","id":6242344,"avatar_url":"https://avatars.githubusercontent.com/u/6242344?v=3","gravatar_id":"","url":"https://api.github.com/users/samtgarson","html_url":"https://github.com/samtgarson","followers_url":"https://api.github.com/users/samtgarson/followers","following_url":"https://api.github.com/users/samtgarson/following{/other_user}","gists_url":"https://api.github.com/users/samtgarson/gists{/gist_id}","starred_url":"https://api.github.com/users/samtgarson/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/samtgarson/subscriptions","organizations_url":"https://api.github.com/users/samtgarson/orgs","repos_url":"https://api.github.com/users/samtgarson/repos","events_url":"https://api.github.com/users/samtgarson/events{/privacy}","received_events_url":"https://api.github.com/users/samtgarson/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/samtgarson/github-deploy-bot","description":"A
        bot to post deployment information to Pull Requests","fork":false,"url":"https://api.github.com/repos/samtgarson/github-deploy-bot","forks_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/forks","keys_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/keys{/key_id}","collaborators_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/teams","hooks_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/hooks","issue_events_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/issues/events{/number}","events_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/events","assignees_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/assignees{/user}","branches_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/branches{/branch}","tags_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/tags","blobs_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/git/refs{/sha}","trees_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/git/trees{/sha}","statuses_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/statuses/{sha}","languages_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/languages","stargazers_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/stargazers","contributors_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/contributors","subscribers_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/subscribers","subscription_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/subscription","commits_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/commits{/sha}","git_commits_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/git/commits{/sha}","comments_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/comments{/number}","issue_comment_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/issues/comments{/number}","contents_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/contents/{+path}","compare_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/compare/{base}...{head}","merges_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/merges","archive_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/downloads","issues_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/issues{/number}","pulls_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/pulls{/number}","milestones_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/milestones{/number}","notifications_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/labels{/name}","releases_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/releases{/id}","deployments_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/deployments","created_at":"2016-12-19T10:28:39Z","updated_at":"2016-12-19T10:29:19Z","pushed_at":"2016-12-19T10:46:19Z","git_url":"git://github.com/samtgarson/github-deploy-bot.git","ssh_url":"git@github.com:samtgarson/github-deploy-bot.git","clone_url":"https://github.com/samtgarson/github-deploy-bot.git","svn_url":"https://github.com/samtgarson/github-deploy-bot","homepage":null,"size":0,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":1,"forks":0,"open_issues":1,"watchers":0,"default_branch":"master"}},"base":{"label":"samtgarson:master","ref":"master","sha":"3716cdb1c9abb387a781063e434ea39d105c7652","user":{"login":"samtgarson","id":6242344,"avatar_url":"https://avatars.githubusercontent.com/u/6242344?v=3","gravatar_id":"","url":"https://api.github.com/users/samtgarson","html_url":"https://github.com/samtgarson","followers_url":"https://api.github.com/users/samtgarson/followers","following_url":"https://api.github.com/users/samtgarson/following{/other_user}","gists_url":"https://api.github.com/users[...]
- request:
    method: post
    uri: https://api.github.com/repos/samtgarson/github-deploy-bot/issues/1/comments
    body:
      encoding: UTF-8
      string: '{"body":"**Deployed to:**\nhttp://google.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic Z2l0aHViLWRlcGxveS1ib3Q6enJhYXp5OTYyMQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1482147666'
      Etag:
      - '"73058e0ffa211520b40f8c2829263f58"'
      Location:
      - https://api.github.com/repos/samtgarson/github-deploy-bot/issues/comments/267940815
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/samtgarson/github-deploy-bot/issues/comments/267940815","html_url":"https://github.com/samtgarson/github-deploy-bot/pull/1#issuecomment-267940815","issue_url":"https://api.github.com/repos/samtgarson/github-deploy-bot/issues/1","id":267940815,"user":{"login":"github-deploy-bot","[...]
